# Python
__pycache__/
*.py[cod]
.venv/
# marker written by run.sh/run.bat once sample data is inserted
.seeded
venv/
*.db
*.sqlite3

# Node
node_modules/
dist/
.vite/

# Env
.env
.env.local

# Editor
.vscode/
.idea/
.DS_Store
