import { Routes, Route } from 'react-router-dom';
import Layout from './components/Layout';
import Home from './pages/Home';
<% if auth != 'none' %>
import Login from './pages/Login';
<% endif %>
<% for e in entities %>
import @@ e.pascal_plural @@ from './pages/@@ e.pascal_plural @@';
<% endfor %>

export default function App() {
  return (
    <Routes>
<% if auth != 'none' %>
      <Route path="/login" element={<Login />} />
<% endif %>
      <Route path="/" element={<Layout />}>
        <Route index element={<Home />} />
<% for e in entities %>
        <Route path="@@ e.plural @@" element={<@@ e.pascal_plural @@ />} />
<% endfor %>
      </Route>
    </Routes>
  );
}
